<!DOCTYPE html>
<html lang="en-US">
<head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Description" content="LCARS SDK - Collection of tools to create functional LCARS interfaces.">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> 
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">

    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">

    <title>LCARS SDK</title>
    <script type="text/javascript" src="lcarssdk/js/webviewinfo.js"></script>
    <script type="text/javascript" src="lcarssdk/js/zepto.min.js"></script>      
    <script type="text/javascript" src="lcarssdk/js/lcarssdk.js"></script>    
    <script type="text/javascript" src="lcarssdk/js/sdktemplates.js"></script>       
    <script type="text/javascript" src="lcarssdk/addons/scrollbutton/scrollbutton.js"></script>

    <link rel="stylesheet" href="lcarssdk/css/lcarssdk.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="lcarssdk/css/sdktemplates.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="lcarssdk/addons/scrollbutton/scrollbutton.css" type="text/css" media="screen" charset="utf-8" />
    <link rel="stylesheet" href="lcarssdk/css/UIStyle.css" type="text/css" media="screen" charset="utf-8" />
</head>
<body ontouchstart="" class="home blog" data-category="SDK Team">
    <script type="text/javascript" src="lcarssdk/js/UISwitcher.js"></script>
</body>
</html>